@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BOOKRY</h1>
    <div>
        <p>
            Bookry is your referential search engine for amazing books.
            As of today we have 12 eBooks in stock for you.
            No annoying ads, no download limits, enjoy it and don't forget to bookmark and share the love!
        </p>
    </div>
</div>
